/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
}

/* Header Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(90deg, #f8317a, #f44d7f, #eb3f89);
    background-color: transparent;
    z-index: 1000;
}

.navbar .logo {
    padding: 0 5rem;
}

.navbar .logo .logo-heading {
    color: #fff;
}

.navbar .menu {
    padding: 0 5rem;
}

.navbar .menu .menu-list {
    display: flex;
    list-style: none;
}

.navbar .menu .menu-list .menu-list-items {
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 856px) and (max-width: 1024px) {
    .navbar .menu .menu-list .menu-list-items {
        padding: 0.5rem 0.3rem;
    }
}

/* Hero Section Styles */
.hero {
    background-image: url('https://cdn.prod.website-files.com/634681057b887c6f4830fae2/6367ddcdcaac03478d077305_62c5ecdd62c665518919f68d_Dev%2520Experience.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 4.8rem 0;
}

.hero .intro {
    text-align: center;
    margin: 0 5rem;
}

.hero .intro-buttons {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero .intro-buttons .btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    background-color: #f8317a;
    color: #fff;
    transition: all 0.25s;
    margin-right: 1rem;
}

.hero .intro-buttons .btn:hover {
    background-color: #fff;
    color: #f8317a;
    border: 2px solid #f8317a;
}

/* About Section Styles */
.about {
    display: flex;
    align-items: center;
    background-image: linear-gradient(45deg, #363d73, #f8317a);
    justify-content: space-between;
    width: 100%;
}

.about .about-text {
    width: 450px;
    color: #fff;
    padding: 5rem 1rem 5rem 5rem;
}

.about .about-image img {
    height: 400px;
    width: 450px;
    padding: 5rem 5rem 5rem 1rem;
}

/* Portfolio Section Styles */
.projects {
    margin: 4.8rem 0;
    padding: 0 5rem;
    background-image: linear-gradient(#f8317a, #f44d7f, #eb3f89);
}

.port-card {
    padding: 0 !important;
    background: none !important;
    border: 2px solid #000;
}

.port-card .image {
    width: 100%;
}

.port-card .image img {
    height: 200px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}


/* Experience Section Styles */
.experience {
    background-color: #f0f0f0;
    padding: 4.8rem 0;
    text-align: center;
}

.experience-heading {
    margin-bottom: 3rem;
}

.experience-heading .my-heading {
    font-size: 3rem;
}

.experience-content {
    display: flex;
    justify-content: center;
}

.experience-content .my-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.experience-content .my-col {
    position: relative;
    overflow: hidden;
}

.experience-content .my-col::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    pointer-events: none;
}

.experience-content .my-col:hover::before {
    border-color: #f8317a;
}

.experience-content .my-card {
    text-align: left;
}

.experience-content .greet-heading {
    color: #070707;
}

.experience-content .small-para {
    font-size: 14px;
    color: #181818;
}

.experience-content .small-para li {
    margin-bottom: 0.5rem;
}

.experience-content .my-card h3 {
    position: relative;
    transition: transform 0.3s ease;
}

.experience-content .my-card:hover h3 {
    transform: translateY(-5px);
}

/* Education Section Styles */
.education {
    background-color: #f0f0f0;
    padding: 4.8rem 0;
    text-align: center;
}

.education-heading {
    margin-bottom: 3rem;
}

.education-heading .my-heading {
    font-size: 3rem;
}

.education-content {
    display: flex;
    justify-content: center;
}

.education-content .my-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}


.education-content .my-col {
    position: relative;
    overflow: hidden;
	transition: ease-in-out;
}

.education-content .my-col::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    pointer-events: none;
}

.education-content .my-col:hover::before {
    border-color: #f8317a;
	
}
.education-content .my-card {
    text-align: left;
}

.education-content .greet-heading {
    color: #000000;
}

.education-content .small-para {
    font-size: 14px;
    color: #181818;
}

.education-content .small-para li {
    margin-bottom: 0.5rem;
}
.education-content .my-card h3 {
    position: relative;
    transition: transform 0.3s ease;
}

.education-content .my-card:hover h3 {
    transform: translateY(-5px);
}


/* Footer Styles */
.footer {
    background-color: #000;
    color: #fff;
    padding: 2rem;
}

.footer .footer-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin: 1rem 1rem 0 1rem;
    border-radius: 50%;
    background-color: #f8317a;
}



.footer .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
	}

.social-icon {
		margin: 0 1rem; 
		font-size: 2rem; 
		color: #fff;
		transition: color 0.3s;
	}

	.social-icon:hover {
		color: #f8317a; 
	}

/* Utility Classes */
.greet-heading {
    font-size: 24px;
    color: #f8317a;
}

.blue-text {
    color: #060606;
}

.small-para {
    font-size: 14px;
    color: #030303;
}

.my-heading {
    font-size: 2.5rem;
    color: #000;
    margin: 0;
}

.my-sub-heading {
    font-size: 1.5rem;
    color: #000;
    margin: 0;
}

.my-paragraph {
    font-size: 18px;
    color: #000;
}

.my-button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    background-color: #f8317a;
    color: #fff;
    transition: all 0.25s;
}

.my-button:hover {
    background-color: #fff;
    color: #f8317a;
    border: 2px solid #f8317a;
}

.my-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.my-col {
    text-align: center;
    width: 30%;
}

.my-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(#f8317a, #f44d7f, #eb3f89);
    padding: 1rem;
}


.small-para {
    font-size: 14px;
    color: #0b0b0b;
}

.small-para li {
    margin-bottom: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.logo-image {
    height: 80px;
    margin-right: 10px;
}

.logo .logo-heading {
    color: #fff;
}
